flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
/.vs/windows/FileContentIndex/3ed73348-6f31-4c99-9409-96a0dbf5d0bc.vsidx
/.vs/windows/FileContentIndex/091fd47b-1421-4eba-9c69-1b33479d4f0e.vsidx
/.vs/windows/FileContentIndex/b1d1aaac-c77f-41a9-81a5-02286fdce81d.vsidx
/.vs/windows/FileContentIndex/bb9a5aab-5ab3-4a24-830e-32b57461bd00.vsidx
/.vs/windows/v17/Browse.VC.opendb
/CMakeLists.txt
/.vs/windows/FileContentIndex/f753b7c4-7db9-4885-9d65-6b3cbaf047e0.vsidx
/.vs/
